body {
    background-color: orange;
}

.bg-orange {
    background-color: orange;
}

.Fila1Izq {
    background-color: lightblue;
}

.Fila1Der {
    background-color: lightgreen;
}

.Fila2 {
    background-color: lightcoral;
}

.Fila3Izq {
    background-color: lightgoldenrodyellow;
}

.Fila3Cen {
    background-color: lightpink;
}

.Fila3Der {
    background-color: lightseagreen;
}

.Fila4 {
    background-color: lightsalmon;
}

/* Cambios de color según el tamaño de la pantalla */
@media (max-width: 767.98px) {
    .Fila1Izq, .Fila1Der {
        background-color: coral;
    }

    .Fila2 {
        background-color: darkorange;
    }

    .Fila3Izq, .Fila3Cen, .Fila3Der {
        background-color: gold;
    }

    .Fila4 {
        background-color: tomato;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .Fila1Izq, .Fila1Der {
        background-color: skyblue;
    }

    .Fila2 {
        background-color: mediumseagreen;
    }

    .Fila3Izq, .Fila3Cen, .Fila3Der {
        background-color: lightcoral;
    }

    .Fila4 {
        background-color: peru;
    }
}
